<div class="container-fluid footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-3" data-aos="fade-up" data-aos-duration="2000">
                <h2 class="ftr_header">VOYAGE BOOKING</h2>
                <p>Far far away, behind the word <br>mountains, far from the<br> countries Vokalia and<br> Consonantia, there live the<br> blind texts.</p>

            </div>
            <div class="col-md-3" data-aos="fade-up" data-aos-duration="2000">
                <h2 class="ftr_header">About</h2>
                <a class="py-1 d-block">
                    <i class="bi bi-chevron-right"><span class="ftr_text1">Resorts</span></i>
                    <br>
                </a>
                <a class="py-1 d-block">
                    <i class="bi bi-chevron-right"><span class="ftr_text1">Staff</span></i>
                    <br>
                </a>
                <a class="py-1 d-block">
                    <i class="bi bi-chevron-right"><span class="ftr_text1">Destinations</span></i>
                    <br>
                </a>
                <a class="py-1 d-block">
                    <i class="bi bi-chevron-right"><span class="ftr_text1">Packages</span></i>
                </a>
            </div>
            <div class="col-md-3" data-aos="fade-up" data-aos-duration="2000">
                <h2 class="ftr_header">Connect</h2>
                <a class="py-1 d-block">
                    <i class="bi bi-chevron-right"><span class="ftr_text1">Travel Groups</span></i>
                    <br>
                </a>
                <a class="py-1 d-block">
                    <i class="bi bi-chevron-right"><span class="ftr_text1">Recidency Groups</span></i>
                    <br>
                </a>
                <a class="py-1 d-block">
                    <i class="bi bi-chevron-right"><span class="ftr_text1">Memberships</span></i>
                    <br>
                </a>
                <a class="py-1 d-block">
                    <i class="bi bi-chevron-right"><span class="ftr_text1">Volunteer</span></i>
                </a>
            </div>
            <div class="col-md-3" data-aos="fade-up" data-aos-duration="2000">
                <h2 class="ftr_header">World Tour</h2>
                <h4 class="opening-hours" style="font-style: italic;">
                    Tour on Brazil
                </h4>
                <p class="opening-hours">
                    Depature —<br> 10:00 am to 11:30 am <br><br> Landing —<br> 8:30 am to 11:30 am
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-center">
        <p>Copyright ©2021 All rights reserved | This website belongs to Team SHC
        </p>
    </div>
</div>