<section id="about-us" >
    <div class="container">
       <div class="col text-center title"  data-aos="fade-down" data-aos-duration="3000">
                  <h1> About Us </h1>
               </div>
        <div class="container">
        <div class="row" >
          <div class="col-sm-10 col-md-6"  data-aos="fade-right" data-aos-duration="3000" style="margin: 50px 0;">
           <img src="/assets/1.jpg" class="shadow-lg mb-5 rounded img-fluid">
           </div>
           <div class="col-md-6"  data-aos="fade-left" data-aos-duration="3000" style="margin: 40px 0;">
             <div class="row">
                <h2 style="text-align: center;">Adevnture Spot</h2>
               <p>Far far away,creative behind the word mountains, far from the countries Vokalia and Consonantia, there live the success blind texts. Separated they live in Bookmarksgrove

A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
               </div>
               <div class="row text-center" >
                   <div class="col-sm-4" >
                   <img src="/assets/6.jpg" class="rounded-circle shadow-lg mb-2"  width="150" height="150">
                       <h3>Sadhana</h3>
                       <p>20MCA0011</p>
                   </div>
                   
                   <div class="col-sm-4" >
                   <img src="/assets/4.jpg" class="rounded-circle shadow-lg mb-2"  width="150" height="150" data-holder-rendered="true">
                       <h3>Hifaz</h3>
                       <p>20MCA0031</p>
                   </div>
                   <div class="col-sm-4">
                   <img src="/assets/5.jpg" class="rounded-circle shadow-lg mb-2"  width="150" height="150">
                       <h3>Charlie</h3>
                       <p>20MCA0060</p>
                   </div>
               </div>
           </div>
        </div>
     </div>
            <div class="row text-center"  data-aos="fade-up" data-aos-duration="3000">
              <div class="col">
                <div class="shadow-lg mb- rounded-circle counter">
                  <i class="fa fa-compass fa-2x" aria-hidden="true"></i>
                  <h2 class="timer count-title count-number" data-to="100" data-speed="1500">1000</h2>
                  <p class="count-text ">Travellers</p>
                </div>
              </div>
              <div class="col">
                <div class="shadow-lg mb-5 rounded-circle counter">
                   <i class="fa fa-plane fa-2x" aria-hidden="true"></i>
                   <h2 class="timer count-title count-number" data-to="1700" data-speed="1500">5</h2>
                   <p class="count-text ">Countires</p>
                </div>
              </div>
         <div class="col">
             <div class="shadow-lg mb-5 rounded-circle counter">
                <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
                <h2 class="timer count-title count-number" data-to="11900" data-speed="1500">7 / year</h2>
                <p class="count-text ">World Tours</p>
              </div>
            </div>
         <div class="col">
         <div class="shadow-lg mb-5 rounded-circle counter">
           <i class="fa fa-money fa-2x" aria-hidden="true"></i>
           <h2 class="timer count-title count-number" data-to="157" data-speed="1500">25%</h2>
           <p class="count-text ">Our Commission</p>
          </div>
         </div>
    </div>

     </div>
 </section>
