<section id="gallery" class="gallery-block cards-gallery">
  <div class="container">
    <div class="heading">
      <h1>Our Gallery</h1>
    </div>
    <div class="row" data-aos="fade-right" data-aos-duration="3000">
      <div class="col-md-6 col-lg-4">
        <div class="rounded shadow-lg mb-5 card border-0 transform-on-hover">
          <a class="lightbox" href="/assets/F1.jpg"><img src="/assets/F1.jpg" class="card-img-top"></a>
          <div class="card-body">
            <h2>New York</h2>
            <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-lg-4">
        <div class="rounded shadow-lg mb-5 card border-0 transform-on-hover">
          <a class="lightbox" href="/assets/F2.jpg"><img src="/assets/F2.jpg" class="card-img-top"></a>
          <div class="card-body">
            <h2>Brazil</h2>
            <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-lg-4">
        <div class="rounded shadow-lg mb-5 card border-0 transform-on-hover">
          <a class="lightbox" href="/assets/F3.jpg"><img src="/assets/F3.jpg" class="card-img-top"></a>
          <div class="card-body">
            <h2>London</h2>
            <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="row" data-aos="fade-left" data-aos-duration="3000">
      <div class="col-md-6 col-lg-4">
        <div class="rounded shadow-lg mb-5 card border-0 transform-on-hover">
          <a class="lightbox" href="/assets/F4.jpg"><img src="/assets/F4.jpg" class="card-img-top"></a>
          <div class="card-body">
            <h2>China</h2>
            <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-lg-4">
        <div class="rounded shadow-lg mb-5 card border-0 transform-on-hover">
          <a class="lightbox" href="/assets/F5.jpg"><img src="/assets/F5.jpg" class="card-img-top"></a>
          <div class="card-body">
            <h2>India</h2>
            <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 col-lg-4">
        <div class="rounded shadow-lg mb-5 card border-0 transform-on-hover">
          <a class="lightbox" href="/assets/F6.jpg"><img src="/assets/F6.jpg" class="card-img-top"></a>
          <div class="card-body">
            <h2>Canada</h2>
            <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>